{% extends 'base.html' %}

{% block title %}
Добавление статьи
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Добавление статьи</h1>
    <form method="post">
        <input type="text" name="title" id="title" class="form-control" placeholder="Введите название"><br>
        <textarea name="intro" id="intro" class="form-control" placeholder="Введите аннотацию"></textarea><br>
        <textarea name="text" id="text" class="form-control" placeholder="Введите текст статьи"></textarea><br>
        <input type="submit" class="btn btn-success" value="Отправить"><br>

    </form>
</div>

{% endblock %}