{% extends 'base.html' %}

{% block title %}
Статьи
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Статьи</h1>

    {% if articles|length > 0 %}
        {% for el in articles %}
        <div class="alert alert-info">
            <h2>{{ el.title }}</h2>
            <p>{{ el.intro }}</p>
            <p><b>Дата: {{ el.date.date() }}</b></p>
            <a href="/posts/{{ el.id }}" class="btn btn-warning">Детальнее</a>
        </div>
        {% endfor %}

    {% else %}
    <p><b>Пока нет статей на сайте</b></p>
    {% endif %}
</div>

{% endblock %}